/* Custom modal styles */
.audio-to-text.modal-content .file-container {
    margin-bottom: 1em;
    padding-left: 1em; 
}

.audio-to-text.modal-content {
    padding-left: 1em;
    padding-right: 1em;
}